.content-show {
  display: block !important;
}
.username-wrapper {
  border-bottom: 0;
  width: 598px;
  height: 50px;
  margin: 0 auto;
  padding-top: 100px;
}
.username-wrapper .label {
  display: inline-block;
}
.username-wrapper .error {
  color: red;
}
.username-wrapper .user-summery {
  display: none;
}
.username-wrapper #set-username {
  display: inline-block;
}
.username-wrapper #set-username #nickname {
  color: blue;
}
.content-wrapper {
  min-height: 30px;
  max-width: 598px;
  margin: 0 auto;
  overflow: hidden;
  display: none;
}
.content-wrapper .chat-wrapper {
  width: 596px;
  min-height: 300px;
  border: 1px solid black;
}
.content-wrapper .chat-header {
  width: 100%;
  height: 30px;
  padding-top: 6px;
  border-bottom: 1px solid black;
  overflow: hidden;
}
.content-wrapper .chat-close,
.content-wrapper .chat-minimize {
  float: right;
}
.content-wrapper .chat-header-common {
  width: auto;
  height: auto;
  margin-right: 8px;
  cursor: pointer;
}
.content-wrapper #messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 330px;
  height: 330px;
  overflow: scroll;
}
.content-wrapper #messages > li {
  padding: 5px 10px;
}
.content-wrapper #messages > li:nth-child(odd) {
  background: #eee;
}
.content-wrapper #message-form {
  background: #737E86;
  width: 100%;
  overflow: hidden;
}
.content-wrapper #message-form #msg {
  width: 70%;
  padding: 5px;
}
.content-wrapper #message-form > button {
  height: 27px;
  padding: 0;
  margin: 0;
  width: 157px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.content-wrapper #message-form > button:hover {
  text-decoration: underline;
}
